
<nav style="z-index: 5;" class="navbar bg-light navbar-expand-lg w-100 top-0 position-fixed">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><i class="fa-solid fa-car me-2"></i>UsedCars</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-5">
            <div class="d-flex"> 
            <input (keyup)="getSearchTerm($event)" style="width: 400px;" class="form-control me-2" type="search" placeholder="Search By Car Name" aria-label="Search">
            <button style="margin-left: -50px ;" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>

          </li>
          <li class="nav-item">
            <button routerLink="/wishlist" class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-heart text-danger me-1"></i>wishlist <span class="badge bg-dark">{{wishlistCount}}</span></button>

          </li>
          <li class="nav-item ms-2">
            <button routerLink="/cart" class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-cart-shopping text-success me-1"></i>cart <span class="badge bg-dark">{{cartCount}}</span></button>
            
          </li>
          <li *ngIf="!loginUsername" class="nav-item">
            <a class="nav-link text-dark" routerLink="login"><i class="fa-solid fa-user me-1"></i>Login</a>
          </li>
          <li *ngIf="loginUsername" class="nav-item">
            <a class="nav-link text-dark" routerLink="login"><i class="fa-solid fa-user me-1"></i>{{loginUsername}}
              <button (click)="logout()" class="btn btn-primary">Logout</button>
            </a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>