<app-header></app-header>
<div style="margin-top: 80px;" class="mt-5 d-flex justify-content-center align-items-center  w-100">
<div class="delievery w-50 mt-5 mt-5">
    <div *ngIf="!checkOutStatus"> 
    <h1>Delivery Details</h1>
    <form [formGroup]="checkoutForm" class="border rouder p-3">
        <div class="form-floating mb-3">
            <input name="username" formControlName="username" type="text" class="form-control" id="floatingInputName" placeholder="Username">
            <label for="floatingInputName">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input name="address" formControlName="address" type="text" class="form-control" id="floatingInputAddr" placeholder="address">
            <label for="floatingInputAddr">Address</label>
          </div>
          <div class="form-floating mb-3">
            <input name="pincode" formControlName="pincode" type="text" class="form-control" id="floatingPin" placeholder="Pincode">
            <label for="floatingPin">Pincode</label>
          </div>

          <div class="d-flex justify-content-evenly mb-3">
            <button (click)="cancel()" class="btn btn-warning">Cancel</button>
            <button (click)="proceedToBuy()" class="btn btn-primary">Procced To Buy</button>
          </div>
    </form>  
</div>

<div *ngIf="checkOutStatus"> 
    <h1>Payment Details</h1>
    <hr>
    <span class="fw-bolder">To Address </span>
    <h4>{{checkoutForm.value.username}}</h4>
    <h4>{{checkoutForm.value.address}}</h4>
    <h4>{{checkoutForm.value.pincode}}</h4>
    <h4 class="text-danger">TotalAmount:Rs {{totalAmount}}</h4>
    <div class="payment mt-5">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    
</div>
</div>
</div>