<app-header></app-header>
<!-- Section-->
 <section class="py-5">
    <div *ngIf="allCars.length==0" style="height: 90vh;" class="d-flex justify-content-center align-items-center w-100 flex-column">
        <img class="img-fluid" src="https://cdni.iconscout.com/illustration/premium/thumb/confusing-woman-due-to-empty-cart-4558760-3780056.png?f=webp" alt="">
        <h1 class="text-danger">Your Wishlist is Empty!!!</h1>
       
    </div>
    <div *ngIf="allCars.length!=0" class="container px-4 px-lg-5 mt-5">
        <h1 class="text-danger">Your Wishlist!!!</h1>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let car of allCars" class="col mb-5">
                <div class="card h-100 p-3">
                    <!-- Product image-->
                    <img height="200px" class="card-img-top" [src]="car.image" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{car.title}}</h5>
                            <!-- Product price-->
                            {{car.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="d-flex justify-content-between">
                            <button (click)="removeItem(car._id)" class="btn fs-5"><i class="fa-solid fa-heart-circle-xmark me-1 text-danger"></i></button>
                            <button (click)="addToCart(car)" class="btn fs-5"><i class="fa-solid fa-cart-plus text-success me-1"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>