<app-header></app-header>
<div style="height: 100vh;" class="w-100 d-flex justify-content-center align-items-center">
    <div class="row border shadow rounded w-75">
        <div class="col-lg-6">
            <div style="height: 100%;" class="d-flex align-items-center justify-content-center flex-column">
                <h4>Welcome user!!!</h4>
                <form [formGroup]="loginForm" class="mt-3 container w-100" >
                    <div class="form-floating mb-3">
                        <input  name="email" formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="mb-3 text-danger">Invalid Email</div>

                      <div class="form-floating">
                        <input name="password" formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="mb-3 text-danger">Invalid Password</div>
                     <div class="mt-3">
                        <button (click)="login()" class="btn btn-primary">Login</button>
                      </div>
                </form>
                <p>New User? Click here To <a routerLink="/register">Register</a></p>
            </div>

        </div>
        <div class="col-lg-6">
            <img class="img-fluid" src="https://t3.ftcdn.net/jpg/05/43/33/18/360_F_543331807_i8WzNaXl8Ky7xOPnaDxXTlzgNwYpGJch.jpg" alt="">
        </div>

    </div>

</div>